<!DOCTYPE HTML>
<html>
<head>
    <title>FisFinder 120</title>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div id="wrapper">

    <!-- Encabezado -->
    <header id="header">
        <div class="inner">


            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#Admin"><b>Inicio</b></a></li>

                    <div class="dropdown">
                        <li><a>Cuentas</a></li>
                        <div class="dropdown-content">
                            <a href="#Mngacs">Crear nuevo Administrador</a>
                            <a href="#Eliminaracc">Eliminar una Cuenta</a>
                            <a href="#Modificaracc">Modificar una Cuenta</a>

                        </div>
                    </div>

                    <div class="dropdown">
                        <li><a>Contenidos</a></li>
                        <div class="dropdown-content">
                            <a href="#Agregar_contenido">Agregar</a>
                            <a href="#Admin">Eliminar</a>
                        </div>
                    </div>


                    <li><a href="#Modulos"><b>Modulos</b></a></li>

                    <li><a href="#Consfeed"><b>Feedback</b></a></li>


                    <div class="dropdown">
                        <li><a>Herramientas</a></li>
                        <div class="dropdown-content">
                            <a href="##Usuarios">Ver Usuarios</a>
                            <a href="#Usuarios">Ver Administradores</a>

                        </div>
                    </div>

                    <li><a href="#Home"><b>Salir</b></a></li>

                </ul>
            </nav>

        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Crear una cuenta Administrador</h1>
            </header>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control"  id = "nombre" placeholder="Nombre" required="" autofocus="" ng-model="nuevoNombre" maxlength="30">

            </div>
            <br>
            <div class="form-group">
                <label for="rut">Rut</label>
                <input type="text" class="form-control" id ="rut" placeholder="Rut (ej: 12345678-9)" required="" ng-model="nuevoRut" maxlength="10">
            </div>
            <br>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id ="email"  placeholder="Email" required="" autofocus="" ng-model="nuevoEmail" maxlength="40">
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id ="password" placeholder="Password" required="" ng-model="nuevoPassword" maxlength="20">
            </div>
            <br>
            <div class="form-group">
                <label for="seccion">Sección</label>
                <input type="text" class="form-control" id ="seccion" placeholder="Seccion" required="" autofocus="" ng-model="nuevoSeccion" maxlength="30">
            </div>
            <br>
            <button ng-click="submitadm()">Registrar Administrador</button>
        </div>
    </div>

    <!-- Pie -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>

</div>
</body>
</html>