<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <h1>Contenidos</h1>
            <p>Aquí encontrarás los contenidos del curso.</p>
            <!-- Nav -->
            <nav>
                <ul>
                    <li><a ng-click="volver()" href=""> Volver</a></li>
                    <li><a href="#/home">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- Main -->
    <div id="main">
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Unidad</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#Visorpdf">Campo electrico</a></td>
                    <td>Todo lo relacionado con ...</td>
                    <td><a href="http://www.cime.cl/descargar/1741/" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#Visorpdf">Nombre 2</a></td>
                    <td>Descripcion 2</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#Visorpdf">Nombre 3</a></td>
                    <td>Descripcion 3</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="#Visorpdf">Nombre 4</a></td>
                    <td>Descripcion 4</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="#Visorpdf">Nombre 5</a></td>
                    <td>Descripcion 5</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>


</div>


</body>
</html>