<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <h1>Contenidos</h1>
            <p>Aquí encontrarás los contenidos del curso.</p>
            <!-- Nav -->
            <nav>
                <ul>
                    <li><a ng-click="volver()" href=""> Volver</a></li>
                    <li><a href="#/">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- Main -->
    <div id="main">
        <div class="table-wrapper" ng-switch="swit">
            <table class="alt">
                <thead>
                <tr>
                    <th>Unidad</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#Visorpdf">Campo electrico</a></td>
                    <td>Todo lo relacionado con ...</td>
                    <td><a href="http://www.cime.cl/descargar/1741/" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#Visorpdf">Campo Magnético</a></td>
                    <td>Respecto a los...</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#Visorpdf">Potencia Eléctrica &...</a></td>
                    <td>Los elemento que...</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="#Visorpdf">Sistemas eléctricos...</a></td>
                    <td>En este capítulo...</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="#Visorpdf">Elemento de un...</a></td>
                    <td>Apéndice del primer tema visto en...</td>
                    <td><a href="#" class="button special icon fa-download"></a></td>
                </tr>
                <tr ng-switch-when="mostrar">
                    <td>6</td>
                    <td><a href={{link}}>{{titulo}}</a></td>
                    <td>Descripcion</td>
                    <td><a href={{link}} class="button special icon fa-download"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>


</div>


</body>
</html>