<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <h1>Ejercicios</h1>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="/home">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- Main -->
    <div id="main">
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                    <tr>
                        <th>Certamenes</th>
                        <th>Controles</th>
                        <th>Guias</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>Certamen 1</li>
                                    <ul>
                                        <li> 2014-1</li>
                                        <li> 2014-2</li>
                                        <li> 2015-1</li>
                                        <li> 2015-2</li>
                                        <li> 2016-1</li>
                                    </ul>
                                <li>Certamen 2</li>
                                    <ul>
                                        <li> 2014-1</li>
                                        <li> 2014-2</li>
                                        <li> 2015-1</li>
                                        <li> 2015-2</li>
                                        <li> 2016-1</li>
                                    </ul>
                                <li>Certamen 3</li>
                                    <ul>
                                        <li> 2014-1</li>
                                        <li> 2014-2</li>
                                        <li> 2015-1</li>
                                        <li> 2015-2</li>
                                        <li> 2016-1</li>
                                    </ul>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Control 1</li>
                                <ul>
                                    <li> 2014-1</li>
                                    <li> 2014-2</li>
                                    <li> 2015-1</li>
                                    <li> 2015-2</li>
                                    <li> 2016-1</li>
                                </ul>
                                <li>Control 2</li>
                                <ul>
                                    <li> 2014-1</li>
                                    <li> 2014-2</li>
                                    <li> 2015-1</li>
                                    <li> 2015-2</li>
                                    <li> 2016-1</li>
                                </ul>
                                <li>Control 3</li>
                                <ul>
                                    <li> 2014-1</li>
                                    <li> 2014-2</li>
                                    <li> 2015-1</li>
                                    <li> 2015-2</li>
                                    <li> 2016-1</li>
                                </ul>
                            </ul>
                        </td>
                        <td>
                            <li>Campo Electrico</li>
                            <li>Potencial Electrico</li>
                            <li>Ley de Coulomb</li>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
    </div>

    <!-- Footer -->
        <footer>
    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center" align="center">Fisica General II</h2>
        <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
        <h4 class="text-center" align="center">UTFSM CSJ</h4>
    </div>
        </footer>


</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>