<!DOCTYPE HTML>
<html>
<head>
    <title>FisFinder 120</title>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div id="wrapper">

    <!-- Encabezado -->
    <header id="header">
        <div class="inner">
            <!-- Barra Nav -->
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#Feedback">{{Boton1}}</a></li>
                    <li><a href="#Home">Cerrar Sesión</a></li>
                </ul>
            </nav>

        </div>
    </header>


    <!-- Main -->
    <div id="main">
        <div class="inner">
            <form class = "form">
                <header>
                    <h1>Feedback</h1>
                </header>

                <div class="3u 12u$(medium)">
                    <label class = "label" for="msg"></label>
                    <textarea class = "textarea" id="msg" ng-model="msg" maxlength="500" placeholder="Escribe tu feedback aquí..."></textarea>
                </div>
                <br>
                <div class="form-group">
                    <button ng-click="submit_feedback()" class="btn btn-danger" >Enviar</button>
                </div>

            </form>
        </div>
    </div>

    <!-- Pie -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>

</div>
</body>
</html>
