<!DOCTYPE HTML>
<html>
<head>
    <title>FisFinder 120</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div id="wrapper">

    <!-- Encabezado -->
    <header id="header">
        <div class="inner">


            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#Registro" class="button">Registrarse</a></li>
                </ul>
            </nav>


        </div>
    </header>

    <!-- Menu -->

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>FisFinder 120</h1>
            </header>

            <form class="form-inline">
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control" id ="email"  placeholder="Email" required="" autofocus="" ng-model="logmail">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" id ="password"  placeholder="Clave" required="" autofocus="" ng-model="pass">
                </div>
                <br>
                <button ng-click="login()" >Ingresar</button>
                <br>
                <a style="color: darkred">{{error}}</a>
            </form>
        </div>
    </div>

    <!-- Pie -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>


</div>
</body>
</html>
