<!DOCTYPE HTML>
<html>
	<head>
		<title>FisFinder 120</title>

	</head>
	<body ng-app>
	<div id="wrapper">

		<header id="header">
			<div class="inner">


				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#Admin"><b>Inicio</b></a></li>

						<div class="dropdown">
							<li><a>Cuentas</a></li>
							<div class="dropdown-content">
								<a href="#Mngacs">Crear nuevo Administrador</a>
								<a href="#Eliminaracc">Eliminar una Cuenta</a>
								<a href="#Modificaracc">Modificar una Cuenta</a>

							</div>
						</div>

						<div class="dropdown">
							<li><a>Contenidos</a></li>
							<div class="dropdown-content">
								<a href="#Agregar_contenido">Agregar</a>
								<a href="#Admin">Eliminar</a>
							</div>
						</div>


						<li><a href="#Modulos"><b>Modulos</b></a></li>

						<li><a href="#Consfeed"><b>Feedback</b></a></li>


						<div class="dropdown">
							<li><a>Herramientas</a></li>
							<div class="dropdown-content">
								<a href="#Usuarios">Ver Usuarios</a>
								<a href="#Usuarios">Ver Administradores</a>

							</div>
						</div>

						<li><a href="#Home"><b>Salir</b></a></li>

					</ul>
				</nav>

			</div>
		</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Seleccione un modulo</h1>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Agregar_contenido" ng-click="modulo2()">
										<h3>Adaptador</h3>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Agregar_contenido" ng-click="modulo3()">
										<h3>Asimilador</h3>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Agregar_contenido" ng-click="modulo0()">
										<h3>Convergente</h3>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Agregar_contenido" ng-click="modulo1()">
										<h3>Divergente</h3>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Pie -->
				<footer>
					<div id="contact" class="container-fluid bg-grey">
						<h2 class="text-center" align="center">Fisica General II</h2>
						<h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
						<h4 class="text-center" align="center">UTFSM CSJ</h4>
					</div>
				</footer>

	</div>
	</body>
</html>