<!DOCTYPE HTML>
<html>
	<head>
		<title>FisFinder 120</title>

	</head>
	<body ng-app>
	<div id="wrapper">


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Seleccione el Módulo donde desea agregar contenido:</h1>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Adaptador">
										<h3>Adaptador</h3>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Asimilador">
										<h3>Asimilador</h3>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Convergente">
										<h3>Convergente</h3>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="" alt="" width="373" height="326"/>
									</span>
									<a href="#Divergente">
										<h3>Divergente</h3>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Pie -->
				<footer>
					<div id="contact" class="container-fluid bg-grey">
						<h2 class="text-center" align="center">Fisica General II</h2>
						<h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
						<h4 class="text-center" align="center">UTFSM CSJ</h4>
					</div>
				</footer>

	</div>
	</body>
</html>