<!DOCTYPE HTML>
<html>
<head>
    <title>FisFinder 120</title>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div id="wrapper">

    <!-- Encabezado -->
    <header id="header">
        <div class="inner">


            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#Admin"><b>Inicio</b></a></li>

                    <div class="dropdown">
                        <li><a>Cuentas</a></li>
                        <div class="dropdown-content">
                            <a href="#Mngacs">Crear nuevo Administrador</a>
                            <a href="#Eliminaracc">Eliminar una Cuenta</a>
                            <a href="#Modificaracc">Modificar una Cuenta</a>

                        </div>
                    </div>

                    <div class="dropdown">
                        <li><a>Contenidos</a></li>
                        <div class="dropdown-content">
                            <a href="#Agregar_contenido">Agregar</a>
                            <a href="#Admin">Eliminar</a>
                        </div>
                    </div>


                    <li><a href="#Modulos"><b>Modulos</b></a></li>

                    <li><a href="#Consfeed"><b>Feedback</b></a></li>


                    <div class="dropdown">
                        <li><a>Herramientas</a></li>
                        <div class="dropdown-content">
                            <a href="#Usuarios">Ver Usuarios</a>
                            <a href="#Usuarios">Ver Administradores</a>
                        </div>
                    </div>

                    <li><a href="#Home"><b>Salir</b></a></li>

                </ul>
            </nav>

        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Agregar Contenido</h1>
                <p>Ingrese tipo y URL del material que desea agregar.</p>
                <br>
            </header>
            <form>
                <select ng-model="tipoContenido">
                    <option value="">Click Aquí para desplegar opciones
                    <option value="video">Video
                    <option value="apunte">Apunte PDF
                    <option value="ejercicios">Ejercicios PDF
                </select>
            </form>
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" id ="url"  placeholder="Ej: https://www.youtube.com/watch?v=-17h1YEGPbc" required="" autofocus="" ng-model="nuevoURL" maxlength="400">
            </div>
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id ="titulo"  placeholder="Ej: Electromagnetismo II" required="" autofocus="" ng-model="nuevoTitulo" maxlength="100">
            </div>

            <a style="color: #e4886a" ng-cloak="">{{incompleto}}</a>
            <br>
            <button ng-click="agregar_contenido()">Agregar Contenido</button>
        </div>
    </div>

    <!-- Pie -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>

</div>
</body>
</html>