<!DOCTYPE HTML>
<html>
<head>
    <title>FisFinder 120</title>

</head>
<body>
<div id="wrapper">

    <!-- Encabezado -->
    <header id="header">
        <div class="inner">


            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#/" class="button">Iniciar sesión</a></li>
                </ul>
            </nav>


        </div>
    </header>

    <!-- Menu -->

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Registrarse</h1>
                {{Registrarse}}
            </header>


            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control"  id = "nombre" placeholder="Nombre" required="" autofocus="" ng-model="nuevoNombre" maxlength="30">

            </div>
            <br>
            <div class="form-group">
                <label for="rut">Rut</label>
                <input type="text" class="form-control" id ="rut" placeholder="Rut (ej: 19911133-0)" required="" ng-model="nuevoRut" maxlength="10">
            </div>
            <br>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id ="email"  placeholder="Email" required="" autofocus="" ng-model="nuevoEmail" maxlength="40">
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id ="password" placeholder="Password" required="" ng-model="nuevoPassword" maxlength="20">
            </div>
            <br>
            <div class="form-group">
                <label for="Rol">Rol</label>
                <input type="text" class="form-control" id ="rol" placeholder="Rol (ej: 200499123-5)" required="" autofocus="" ng-model="nuevoRol" maxlength="11">
            </div>
            <a style="color: #e4886a" ng-cloak="">{{incompleto}}</a>
            <br>
            <button ng-click="submit()">Registrarse</button>


        </div>
    </div>

    <!-- Pie -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>

</div>
</body>
</html>
