<!DOCTYPE HTML>
<html>
<head>
    <title>FisFinder 120</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
</head>
<body>
<div id="wrapper">

    <!-- Encabezado -->
    <header id="header">
        <div class="inner">


            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a> {{Usuario}} <!--aqui las pestañas!--></a></li>
                </ul>
            </div>

        </div>
    </header>

    <!-- Menu -->

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Encuesta</h1>
                <p><b>Instrucciones</b></p>
                <p>

                    Se te pide que completes 12 frases.
                <ul>
                    <li>Cada frase puede terminarse de cuatro formas distintas.</li>
                    <br>
                    <li>Ordena las cuatro opciones de cada frase según pienses que se ajustan a tu manera de aprender
                        algo nuevo.
                    </li>
                    <br>
                    <li>Trata de pensar en situaciones recientes en las que te enfrentaste con algo nuevo.</li>
                    <br>
                    <li>Numera con un 4 la terminación que mejor se ajuste a tu forma de aprender y con un 1 la que peor
                        se ajuste.
                    </li>
                    <br>
                    <li>Asegúrate de asignar un número a todas las terminaciones de cada una de las 12 frases.</li>
                    <br>
                </ul>

                </p>
            </header>

            <form>
                <br>
                <fieldset>
                    <h3>Cuando aprendo...</h3>

                    <b>Me gusta vivir sensaciones</b>
                    <select ng-model="a1">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Me gusta pensar sobre ideas</b>
                        <select ng-model="b1">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Me gusta estar haciendo cosas</b>
                        <select ng-model="c1">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Me gusta observar y escuchar</b>
                        <select ng-model="d1">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>
                </fieldset>
                <br>
                <fieldset>
                    <h3>Aprendo mejor cuando...</h3>

                    <b>Escucho y observo cuidadosamente</b>
                    <select ng-model="a2">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Confio en el pensamiento logico</b>
                        <select ng-model="b2">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Confio en mi intuicion y sentimientos</b>
                        <select ng-model="c2">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Trabajo duro para lograr hacer las cosas</b>
                        <select ng-model="d2">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Cuando estoy aprendiendo...</h3>

                    <b>Tiendo a usar el razomaniento</b>
                    <select ng-model="a3">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Soy responsable con lo que hago</b>
                        <select ng-model="b3">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Soy callado y reservado</b>
                        <select ng-model="c3">
                            <option value="">Selecciona una opcion</option>
                            >
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Tengo fuertes sensaciones y reacciones</b>
                        <select ng-model="d3">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>


                </fieldset>
                <br>
                <fieldset>
                    <h3>Yo aprendo...</h3>

                    <b>Sintiendo</b>
                    <select ng-model="a4">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Haciendo</b>
                        <select ng-model="b4">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Observando</b>
                        <select ng-model="c4">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Pensando</b>
                        <select ng-model="d4">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Cuando aprendo...</h3>

                    <b>Estoy abierto a nuevas experiencias</b>
                    <select ng-model="a5">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Observo todos los aspectos del asunto</b>
                        <select ng-model="b5">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Me gusta analizar las cosas, descomponerlas en sus partes</b>
                        <select ng-model="c5">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Me gusta probar e intentar hacer las cosas</b>
                        <select ng-model="d5">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Cuando estoy aprendiendo...</h3>

                    <b>Soy una persona observadora</b>
                    <select ng-model="a6">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Soy una persona activa</b>
                        <select ng-model="b6">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Soy una persona intuitiva</b>
                        <select ng-model="c6">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Soy una persona logica</b>
                        <select ng-model="d6">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Yo aprendo mejor de...</h3>

                    <b>La observacion</b>
                    <select ng-model="a7">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>La relacion con otras personas</b>
                        <select ng-model="b7">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Las teorias racionales</b>
                        <select ng-model="c7">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>La oportunidad de probar y practicar</b>
                        <select ng-model="d7">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Cuando aprendo...</h3>

                    <b>Me gusta ver los resultados de mi trabajo</b>
                    <select ng-model="a8">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Me gusta las ideas y las teorias</b>
                        <select ng-model="b8">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Me tomo mi tiempo antes de actuar</b>
                        <select ng-model="c8">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Me siento personalmente involucrado en las cosas</b>
                        <select ng-model="d8">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Aprendo mejor cuando...</h3>

                    <b>Confio en mis observaciones</b>
                    <select ng-model="a9">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Confio en mis sentimientos</b>
                        <select ng-model="b9">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Puedo probar por mi cuenta</b>
                        <select ng-model="c9">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Confio en mis ideas</b>
                        <select ng-model="d9">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Cuando estoy aprendiendo...</h3>

                    <b>Soy una persona reservada</b>
                    <select ng-model="a10">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Soy una persona receptiva</b>
                        <select ng-model="b10">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Soy una persona responsable</b>
                        <select ng-model="c10">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Soy una persona racional</b>
                        <select ng-model="d10">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Cuando aprendo...</h3>

                    <b>Me involucro</b>
                    <select ng-model="a11">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Me gusta observar</b>
                        <select ng-model="b11">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Evaluo las cosas</b>
                        <select ng-model="c11">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Me gusta ser activo</b>
                        <select ng-model="d11">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                </fieldset>
                <br>
                <fieldset>
                    <h3>Aprendo mejor cuando...</h3>

                    <b>Analizo ideas</b>
                    <select ng-model="a12">
                        <option value="">Selecciona una opcion</option>
                         
                        <option value="1">1</option>
                         
                        <option value="2">2</option>
                         
                        <option value="3">3</option>
                         
                        <option value="4">4</option>
                    </select>
                    <p>

                        <b>Soy receptivo y abierto</b>
                        <select ng-model="b12">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Soy cuidadoso</b>
                        <select ng-model="c12">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>

                        <b>Soy practico</b>
                        <select ng-model="d12">
                            <option value="">Selecciona una opcion</option>
                             
                            <option value="1">1</option>
                             
                            <option value="2">2</option>
                             
                            <option value="3">3</option>
                             
                            <option value="4">4</option>
                        </select>
                    <p>
                </fieldset>

                <a ng-click="submitt()" class="btn btn-danger">Enviar</a>
            </form>
        </div>

    </div>

    <!-- Pie -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>

</div>
</body>
</html>