<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
<div id="wrapper">

    <!-- Encabezado -->
    <header id="header">
        <div class="inner">

            <!-- Barra Nav -->
            <nav>
                <ul>
                    <li><a ng-click="volver()" href=""> Volver</a></li>
                    <li><a href="#Home">Cerrar Sesión</a></li>
                </ul>
            </nav>


        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Videos</h1>
                <p>Aquí encontrarás material audiovisual relacionado con el curso.</p>
            </header>
            <section class="tiles">
                <article class="style1">
									<span class="image">
										<img src="../views/images2/material2.jpg" alt="" />
									</span>
                    <a href="visorvideo.html">
                        <h2>Campo Electrico</h2>
                    </a>
                </article>
                <article class="style2">
									<span class="image">
										<img src="../views/images2/material2.jpg" alt="" />
									</span>
                    <a href="visorvideo.html">
                        <h2>Material 2</h2>
                    </a>
                </article>
                <article class="style3">
									<span class="image">
										<img src="../views/images2/pic03.jpg" alt="" />
									</span>
                    <a href="visorpdf.html">
                        <h2>Material 3</h2>
                    </a>
                </article>
                <article class="style4">
									<span class="image">
										<img src="../views/images2/pic04.jpg" alt="" />
									</span>
                    <a href="visorvideo.html">
                        <h2>Material 4</h2>
                    </a>
                </article>
                <article class="style5">
									<span class="image">
										<img src="../views/images2/pic05.jpg" alt="" />
									</span>
                    <a href="visorpdf.html">
                        <h2>Material 5</h2>
                    </a>
                </article>
            </section>
        </div>
    </div>

    <!-- Pie -->
    <footer>
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center" align="center">Fisica General II</h2>
            <h3 class="text-center" align="center">Profesor Maximiliano Rivera</h3>
            <h4 class="text-center" align="center">UTFSM CSJ</h4>
        </div>
    </footer>

</div>
</body>
</html>